@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,600&display=swap');

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    line-height: 1.6;
    font-family: "Montserrat", sans-serif;
    overflow-x: hidden;
    position: relative;
}

/* Utility Classes */
.container {
    max-width: 110rem;
    margin: 0 auto;
}