#footer {
  padding: 4rem 2rem;
  background-color: #031328;

  @media (min-width: 61.875em) {  // 990px
      padding: 6rem 4rem;
  }

  .footer-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 5rem;

    @media (min-width: 61.875em) {
        grid-template-columns: 1fr 2fr 2fr;
    }

    .sections-summary {

      ul {
        display: grid;
        grid-gap: 0.7rem;

        li {
          font-size: 1.6rem;

          a:link,
          a:visited {
            text-decoration: none;
            color: #fff;
            opacity: 0.5;
            transition: opacity 0.4s;

            &:hover,
            &:active {
              opacity: 1;
            }
          }

          h3 {
            font-size: 2rem;
            color: #fff;
          }
        }
      }
    }

    .contacts-list {

      ul {
        display: grid;
        grid-gap: 1rem;

        li {
          font-size: 1.6rem;
          display: flex;
          flex-wrap: wrap;
          color: #fff;

          @media (min-width: 31.25em) {  // 500px
            flex-wrap: nowrap;
          }

          h3 {
            font-size: 2rem;
            color: #fff;
          }

          span.contact-icon {
            margin-right: 3rem;
            i {
              font-size: 1.5rem;
            }
          }
        }
      }
    }

    .subscribe {
      grid-column: 1 / -1;
      display: grid;
      grid-gap: 1rem;

      @media (min-width: 61.875em) {
        grid-column: auto;
    }

      h3 {
        font-size: 2rem;
        color: #fff;
      }

      h4 {
        font-size: 1.6rem;
        font-weight: 400;
        color: #fff;
      }

      .subscribe-form {
        input[type="email"] {
          padding: 1rem;
          width: 100%;
          font-size: 1.4rem;
          font-family: inherit;
          border: none;
          border: 1px solid #ccc;
          border-radius: 0.435rem;

          @media (min-width: 48em) {
            font-size: 1.6rem;
          }
        }

        button {
          margin-top: 1rem;
          display: block;
          width: 100%;
          padding: 1rem 1.25rem;
          font-size: 1.4rem;
          font-family: inherit;
          background-color: #0f66dc;
          color: #fff;
          border: none;
          transition: all 0.2s ease;
          border-radius: 0.435rem;

          &:hover {
            cursor: pointer;
            background-color: darken(#0d55b8, 5%);
          }

          @media (min-width: 48em) {
            font-size: 1.6rem;
          }
        }
      }
    }

    .social-icons {
        grid-column: 1 / -1;
        display: flex;
        justify-content: center;

        .social-icon {
            transition: opacity .2s;
            opacity: 0.5;

            &:hover {
                opacity: 1;
            }

            &:not(:last-child) {
                margin-right: 3rem;
            }
            
            i {
                color: #fff;
                font-size: 2.5rem;
                cursor: pointer;
                transition: color .2s;

                @media (min-width: 48em) {
                    font-size: 3rem;
                }
               
                &.facebook-icon:hover {
                    color: #3b5999;
                }

                &.twitter-icon:hover {
                    color: #55acee;
                }

                &.medium-icon:hover {
                    color: #02b875;
                }

                &.dribbble-icon:hover {
                    color: #ea4c89;
                }

                &.behance-icon:hover {
                    color: #053eff;
                }
            }
        }
    }

    .copyright {
        grid-column: 1 / -1;
        text-align: center;

        p {
            color: #fff;
            font-size: 1.4rem;
            opacity: 0.7;

            @media (min-width: 48em) {
                font-size: 1.6rem;
            }
        }
    }

  }
}
