.navigation-wrapper {
  width: 100vw;
  background-color: #fff;
  position: relative;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 100;
  
  .navigation {
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 4rem;

    .logo {
      h2 {
        font-size: 2.4rem;
      }
    }

    .navigation-list {
      padding: 0 4rem;
      list-style-type: none;
      display: none;
      background-color: #fff;
      z-index: 999;
      width: 100%;

      @media (min-width: 990px) {
        padding: 0;
        display: flex;
        flex-basis: 70%;
        justify-content: center;
        align-items: center;
        margin: 0 -1rem;
      }

      &.active {
        display: block;
        position: absolute;
        top: 100%;
        left: 0;

        @media (min-width: 990px) {
          /* TODO: make sure the list-items don't disappear as well */
          display: none;
        }
      }

      li {
        font-size: 1.6rem;
        margin-top: 1rem;

        @media (min-width: 990px) {
          margin: 0 2rem;
        }

        a:link,
        a:visited {
          text-decoration: none;
          color: #9e9e9e;

          &:hover,
          &:active {
            color: #212121;
          }
        }

        button {
          font-size: 1.4rem;
          background-color: #0f66dc;
          color: #fff;
          padding: 1rem 3rem;
          border-radius: 0.3125rem;
          transition: all 0.2s ease;
          margin-bottom: 1rem;
          border: none;

          @media (min-width: 990px) {
            margin-bottom: 0;
          }

          &:hover {
            cursor: pointer;
            background-color: darken(#0f66dc, 5%);
          }
        }

        &.push-right {
          margin-left: auto;
        }
      }
    }

    .toggler {
      display: flex;

      &:hover {
        cursor: pointer;
      }

      @media (min-width: 990px) {
        display: none;
      }

      i {
        font-size: 2.5rem;
      }
    }
  }
}

.hide {
  display: none;
}
