#testimonials {
    margin-top: 1rem;
    padding: 4rem;

    .testimonials-container {

        .testimonials-text {
            margin-bottom: 8rem;
            text-align: center;

            @media (min-width: 768px) {
                max-width: 60%;
                margin: 5rem auto;
            }

            @media (min-width: 960px) {
                max-width: 75%;
            }

            h2 {
                font-size: 2.8rem;

                @media (min-width: 768px) {
                    font-size: 4rem;
                    line-height: 1.2;
                  }
                
                @media (min-width: 960px) {
                    font-size: 6rem;
                    line-height: 1.2;
                  }
            }

            p {
                margin-top: 1rem;
                font-size: 1.6rem;
      
                @media (min-width: 960px) {
                  margin-top: 3rem;
                  font-size: 2rem;
              }
            }
        }

        .reviews-wrapper {
            margin-top: 10rem;
            margin-bottom: 10rem;
            display: grid;
            grid-template-columns: 1fr;
            text-align: center;
            align-items: center;
            grid-gap: 5rem;

            @media (min-width: 768px) {
                grid-template-columns: repeat(3, 1fr);
            }

            .review-card {
                border-radius: 1rem;
                padding: 2rem;
                display: grid;
                justify-items: center;
                box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                transition: all 0.3s cubic-bezier(.25,.8,.25,1);

                &:hover {
                    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
                }

                img {
                    width: 10rem;
                    height: 10rem;
                    border-radius: 50%;
                }

                h4 {
                    margin-top: 1rem;
                    font-size: 1.8rem;
                    font-weight: bold;
                }

                h5 {
                    font-size: 1.6rem;
                    font-weight: 400;
                }

                p {
                    margin-top: 1rem;
                    font-size: 1.6rem;
                    font-weight: 300;
                }
            }
        }
    }
}